<div class="iza-container container">
    <div class="container container-categories-stripe mt-5 mb-4 category-section-margin-bottom">
        <div class="row">
            <div class="col-12 px-0 px-md-4">
                <ul class="list-unstyled mb-0 list-inline category-stripe pb-3 category-stripe-margin-bottom">
                    <li class="list-inline-item">
                        <div class="btn btn-outline-secondary" id="foodSearch">
                            <span class="icon-background">
                                <img src="images/food.png" style="width:64px;height:64px;" alt="">
                            </span>
                            <small>Comida</small>
                        </div>
                    </li>
                    <li class="list-inline-item">
                        <div class="btn btn-outline-secondary" id="serviceSearch">
                            <span class="icon-background">
                                <img src="images/service.png" style="width:64px;height:64px;" alt="">
                            </span>
                            <small>Serviços</small>
                        </div>
                    </li>
                    <li class="list-inline-item">
                        <div class="btn btn-outline-secondary" id="blablaSearch">
                            <span class="icon-background">
                                <img src="images/blabla.png" style="width:64px;height:64px;" alt="">
                            </span>
                            <small>BlaBla</small>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="my-3 p-3 bg-white rounded shadow-sm" id="searchList"></div>
</div>